    <div id="modal-about" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">About Python &amp; Turtle</h2>
            </div>
            <div class="uk-modal-body">
                <h3>Python &amp; Turtle</h3>
                <p>
                    <ul>
                        <li>Version 0.2.0</li>
                        <li>Copyright &copy; 2018 <a target="_blank" href="https://www.burgaud.com">Andre Burgaud</a></li>
                    </ul>
                </p>
                <h3>What is Python &amp; Turtle?</h3>
                <p><b>Python &amp; Turtle</b> is a Python playground allowing to interact with the <a target="_blank" href="https://www.python.org/">Python programming language</a> within your browser. It is intended to be used as a teaching and/or learning tool. It offers three environments:
                    <ol>
                        <li>A <b>Python editor</b> with an output pane (text base),</li>
                        <li>An environment allowing to interact with the <b>Python Turtle</b> module (graphical base),</li>
                        <li>A classic <b>Python interpreter</b> (a.k.a. REPL or shell).</li>
                    </ol>
                </p>
                <h3>Licenses</h3>
                <p><b>Python &amp; Turtle</b> relies on several open source projects. Those projects are listed below with their respective licenses:
                    <ul>
                        <li><a target="_blank" href="http://brython.info">Brython</a> (MIT License)</li>
                        <li><a target="_blank" href="https://github.com/nathancahill/Split.js">Split.js</a> (MIT License)</li>
                        <li><a target="_blank" href="https://getuikit.com/">UIKit</a> (MIT License)</li>
                        <li><a target="_blank" href="https://jquery.com/">jQuery</a> (MIT License)</li>
                        <li><a target="_blank" href="https://gasparesganga.com/labs/jquery-loading-overlay/">jQuery LoadingOverlay</a> (MIT License)</li>
                        <li><a target="_blank" href="https://ace.c9.io/">Ace Editor</a> (BSD License)</li>
                        <li><a target="_blank" href="https://fontawesome.com/">Font Awesome</a> (Icons: CC BY 4.0 License, Fonts: SIL OFL 1.1 License, Code: MIT License)</li>
                    </ul>
                </p>
                <h3>Credits</h3>
                <p>In addition to the open source libraries used to power this web site, some code (e.g. Python Shell), was directly adapted from the <a target="_blank" href="https://github.com/brython-dev/brython">Brython Project</a> (code available under an MIT license). Big thanks to <a target="_blank" href="https://brythonista.wordpress.com/">Pierre Quentel</a> and other Brython contributors for their outstanding work on <a target="_blank" href="http://brython.info">Brython</a>.</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-primary uk-modal-close" type="button">Cancel</button>
            </div>
        </div>
    </div>
